server {
    listen       80;
    listen  [::]:80;
    server_name  localhost;
    
    location / {
        root   /usr/share/nginx/html;
        index  index.html index.htm;
    }
    
    location ~* \.(js)$ {
        root   /usr/share/nginx/html;
        expires 1y;
        etag off;
        if_modified_since off;
        add_header Cache-Control "public, no-transform";
    }

    location ~* \.(jpg|jpeg|png|gif|css|ico|html)$ {
        root   /usr/share/nginx/html;
        expires 24h;
        etag off;
        if_modified_since off;
        add_header Cache-Control "public, no-transform";
    }
    
    location /health {
        access_log off;
        default_type text/plain;
        return 200 "healthy\n";
        add_header Cache-Control 'no-store, no-cache, must-revalidate, proxy-revalidate, max-age=0';
        expires off;
        etag off;
    }

    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /usr/share/nginx/html;
    }
}
