.buttonGroup {
  display: flex;
  column-gap: 0.2rem;
  position: absolute;
  right: calc(var(--ifm-pre-padding) / 2);
  top: calc(var(--ifm-pre-padding) / 2);
}

.buttonGroup button {
  align-items: center;
  background: var(--prism-background-color);
  border: 1px solid var(--ifm-color-emphasis-300);
  border-radius: var(--ifm-global-radius);
  color: var(--prism-color);
  display: flex;
  line-height: 0;
  opacity: 0;
  padding: 0.4rem;
  transition: opacity var(--ifm-transition-fast) ease-in-out;
}

.buttonGroup button:focus-visible,
.buttonGroup button:hover {
  opacity: 1 !important;
}

:global(.theme-code-block:hover) .buttonGroup button {
  opacity: 0.4;
}

.runButton {
  line-height: 1;
  padding: 0.45rem 0.6rem !important;
}

.runButtonLabel {
  font-size: 0.8rem;
  font-weight: 600;
}
